<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834858445504-rharldn83473q9pv835gp02bl06jbe4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834858445504-rharldn83473q9pv835gp02bl06jbe4j</string>
	<key>API_KEY</key>
	<string>AIzaSyDsKiNfTjD2FiJux3dmFufZMGyLsBurKX4</string>
	<key>GCM_SENDER_ID</key>
	<string>834858445504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.queueSkippers</string>
	<key>PROJECT_ID</key>
	<string>queueskipper-4f307</string>
	<key>STORAGE_BUCKET</key>
	<string>queueskipper-4f307.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834858445504:ios:ea68c27adb98ec4faf5b25</string>
	<key>DATABASE_URL</key>
	<string>https://queueskipper-4f307-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>